<html>
<head>
	<title>Free Affiliate Marketing Course</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

<div class="container-fluid">
	
	<div class="row justify-content-center mt-4">
		<div class="col col-md-6 mt-4">
			<h1 class="font-weight-bold text-center mt-4">
				ফ্রি অ্যাফিলিয়েট মার্কেটিং ট্রেইনিং করুন - সিক্রেট অ্যাফিলিয়েট সিস্টেম

			</h1>

			<h4 class="text-center text-danger"> কোর্সটি করতে নিচে আপনার মোবাইল নাম্বার দিয়ে জয়েন করুন </h4>
		</div>
		
	</div>


	<div class="row justify-content-center">
		<div class="col-md-3 p-4" style="border:0.5px dotted red">
			<form class="form" method="get" action="{% url 'call' %}">
				<div class="form-group">
					<input type="phone" class="form-control" placeholder="01908399065 - এখানে নাম্বার দিন" name="phone" required />
				</div>
				<div class="row justify-content-center ml-2 mr-2">
				<button type="submit" class="btn btn-danger mt-4 text-center ml-1 mr-1"> জয়েন করুন  </button>
			</div>
			</form>
		</div>
	</div>


</div>


</body>


</html>